@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 16px;
}

* { box-sizing: border-box; }
a { text-decoration: none; }
pre, code { font-family: ui-monospace, SFMono-Regular, Menlo, monospace; }
